.career-opportunities-section {
  //text-align: center;
  padding: 110px 0 74px;

  .section-title {
    color: $corporate-black;
  }

  .section-text {
    max-width: 840px;
    margin-bottom: 40px;
  }

  .opportunities-list {
    max-width: 1487px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-bottom: 69px;

    .opportunity {
      text-align: center;

      img {
        height: 64px;
        margin-bottom: 20px;
      }
    }

    @include breakpoint(medium down) {
      justify-content: center;
    }
  }

  .button {
    margin-left: auto;
    margin-right: auto;
    padding: 24px 52px;
    display: block;
    max-width: fit-content;
  }

  @include breakpoint(medium down) {
    .opportunities-list {
      .opportunity {
        width: 30%;
        margin-bottom: 20px;
      }
    }
  }
  @include breakpoint(small down) {
    .opportunities-list {
      gap: 0;
      align-items: flex-start;

      .opportunity {
        width: 50%;
      }
    }
  }
}
