.centered-text-section {
  text-align: center;
  padding: 35px 0 50px;
  background-color: $white;

  .section-subtitle {
    color: $dark-gold;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
  }

  .section-title {
    //font-size: 50px;
    line-height: 64px;
    margin-bottom: 50px;
    letter-spacing: 1.1px;
  }

  .section-text {
    //max-width: 840px;
    p {
      //font-size: 20px;
      //line-height: 30px;
    }
  }

  @include breakpoint(medium down) {
    .section-title {
      line-height: 1.1;
    }
  }
}
