.cta-section {
  padding: 55px 0 73px;
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 50px;

    .cta-title {
      font-size: 50px;
    }

    .button {
      padding: 25px 76px;
    }
  }
}
