.family-of-companies-section {
  text-align: center;
  padding: 100px 0;

  .section-logo {
    margin: 66px auto 0;
    width: 100%;
    max-width: 344px;

    img {
      width: 100%;
    }
  }

  .companies-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1408px;
    margin: 66px auto 0;

    .companies-list__item {
      display: flex;
      align-items: center;
      padding: 30px 15px;
      min-height: 100px;
      max-width: fit-content;

      &:hover {
        background-color: $light-gray;
      }

      svg {
        display: block;
        width: 100%;
        max-width: 100%;
      }
      .choice-admin-logo-cmyk {
        max-width: 85%;
        margin-left: auto;
        margin-right: auto;
        .cls-1 {
          fill: #0097d7;
        }
      }
      .california-rx-logo-color {
        .cls-1 {
          fill: #b61f36;
        }
        .cls-2 {
          fill: #000000;
        }
      }
      .word-brown-logo-2019-2 {
        .cls-1 {
          fill: #000000;
        }
      }
    }
    .black-logos {
      //filter: grayscale(1);
      img,
      svg {
        filter: grayscale(90%);
      }
    }
  }

  @include breakpoint(1200px down) {
    .companies-list {
      justify-content: center;
      .companies-list__item {
        overflow: hidden;
        max-width: 50%;
        width: 50%;
        justify-content: center;
      }
    }
  }
  @include breakpoint(small down) {
    .companies-list {
      justify-content: center;
      .companies-list__item {
        max-width: 100%;
        width: 100%;
        justify-content: center;
      }
    }
  }
}

.black-logos-container {
  //.gray-bg {
  //  background-color: $light-gray;
  //}

  @include breakpoint(1200px down) {
    .companies-list {
      justify-content: center;
      .companies-list__item {
        overflow: hidden;
        max-width: 50%;
        width: 50%;
        justify-content: center;
      }
    }
  }
  @include breakpoint(small down) {
    .companies-list {
      justify-content: center;
      .companies-list__item {
        max-width: 100%;
        width: 100%;
        justify-content: center;
      }
    }
  }
}
