.health-care {
  padding-top: 34px;

  .section-title {
    color: $corporate-black;
    margin-bottom: 27px;
  }

  .section-text {
    max-width: 633px;
    margin-bottom: 50px;
  }

  .button {
    width: 100%;
    max-width: 410px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .section-image {
    width: 100%;
  }
}
