.hero-section {
  background-size: cover;
  background-repeat: no-repeat;
  height: 747px;
  position: relative;

  &:before {
    content: '';
    background: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 50%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
  }

  &:after {
    content: '';
    background: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 50%);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    transform: rotate(180deg);
  }

  .grid-container {
    max-width: 1156px;
    position: relative;
    height: 100%;
  }

  .hero-text {
    padding: 50px;
    max-width: 850px;
    background-color: rgba(#000000, 0.65);
    color: $white;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;

    .page-title {
      color: $gold;
      font-weight: 400;
    }

    h2 {
      font-size: 50px;
      //padding-bottom: 25px;
      //margin-bottom: 31px;

      &:after {
        content: '';
        width: 80px;
        display: block;
        height: 2px;
        background-color: $gold;
        margin-top: 25px;
        margin-bottom: 31px;
      }
    }
  }

  @include breakpoint(medium down) {
    .hero-text {
      left: 0;
      max-width: 100%;
      padding: 20px;
    }
  }
  @include breakpoint(small down) {
    padding-bottom: 0 !important;
  }
}

.page-template-template-latest-news,
.page-template-template-contact,
.page-id-49 {
  .hero-section {
    &:before {
      background: radial-gradient(
        circle,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1.5897153539150035) 90%,
        rgba(0, 0, 0, 1) 100%
      );
      height: 100%;
      width: 100%;
      background-size: 100%;
    }

    &:after {
      display: none;
    }
  }
}
