.parallax-banner-section {
  height: 500px;
  position: relative;

  .jarallax-img {
    object-position: center top !important;
    margin-top: 150px !important;
  }

  @include breakpoint(small down) {
    //height: 300px;

    .jarallax-img {
      object-position: 30% top !important;
      margin-top: 230px !important;
      height: 300px;
    }
  }
}
