.team-members-section {
  padding-top: 113px;
  padding-bottom: 65px;

  .grid-container {
    max-width: 1155px;
  }

  .item-imege {
    margin-bottom: 13px;
    position: relative;
    .profile {
      position: absolute;
      z-index: 5;
      bottom: 10px;
      right: 10px;
      color: $white;
      opacity: 0;
      transition: all 0.5s ease-out;
    }

    &:hover {
      .profile {
        opacity: 1;
      }
    }
  }

  .member-name {
    font-size: 17px;
    font-weight: 900;
    line-height: 25px;
    margin-bottom: 0;
  }

  .members-position {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 4px;
    font-weight: 900;
    @media (min-width: 1024px) and (max-width: 1100px) {
      font-size: 10px;
    }
  }

  .members-company {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0;
  }

  .modal {
    display: none;
  }
}

.modal.fancybox-content {
  padding: 0;
  background-color: $black;
  color: $white;
  //margin: 10vh 15% 0;
  //overflow: auto;
  height: 75vh;
  min-height: 75vh;
  width: 80%;
  background-repeat: no-repeat;
  background-position: right 5px top;
  background-size: 60%;
  position: relative;

  @media (min-width: 1440px) {
    background-position: right 5px top -25px;
    background-size: contain;
  }

  .member-bio {
    padding: 0 50px;
    overflow: auto;
    height: 100%;
    width: 100%;

    &::-webkit-scrollbar {
      width: rem-calc(10);
    }

    &::-webkit-scrollbar-thumb {
      background-color: $gold;
    }

    &::-webkit-scrollbar-track {
      background-color: $gray;
    }

    &__heading {
      position: sticky;
      background-color: $black;
      top: 0;
      margin-bottom: 20px;
      padding-top: 80px;
      width: 50%;
    }

    .member-name {
      font-size: 34px;
      font-family: $sub_font;
      color: $white;
    }

    .members-position {
      font-size: 1.2rem;
      text-transform: uppercase;
    }

    .members-company {
      font-size: 1.2rem;
      text-transform: uppercase;
      color: $gold;

      &:after {
        content: '';
        display: block;
        margin: 1rem auto 0 0;
        border-bottom: 1px solid $gold;
        width: 120px;
      }
    }

    .bio-text {
      width: 50%;
      //padding-top: 80px;
      padding-bottom: 15px;
    }

    article {
      color: #989898;
      padding-left: 5px;
    }
  }

  .fancybox-close-small {
    display: none;
  }

  @include breakpoint(medium down) {
    //margin: 50px 20px;
    background-size: 50%;
    background-position: 100% 0%;
    width: 80%;
    padding: 40% 0 0;
    .member-bio {
      width: 100%;
      padding: 0 15px;

      &__heading {
        width: 100%;
        padding-top: 0;
        padding-bottom: 10px;
      }

      .bio-text {
        width: 100%;
      }
    }
  }
  @include breakpoint(small down) {
    .member-bio {
      .members-position,
      .members-company {
        font-size: 16px;
      }
      .member-name {
        font-size: 24px;
      }
    }
  }
}

.two-in-row {
  margin: 0 auto 17px;
  max-width: 920px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  //align-items: center;

  &__item {
    width: 50%;
    padding: 5px;

    .item-imege {
      aspect-ratio: 225/222;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  @include breakpoint(small down) {
    &__item {
      width: 100%;
    }
  }
}

.three-in-row {
  margin-left: auto;
  margin-right: auto;
  max-width: 920px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  //align-items: center;

  &__item {
    //width: 25%;
    width: 33%;
    padding: 5px;
    margin-bottom: 17px;

    .item-imege {
      aspect-ratio: 225/222;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  @include breakpoint(medium down) {
    &__item {
      width: 50%;
    }
  }
  @include breakpoint(small down) {
    &__item {
      width: 100%;
    }
  }
}

.four-in-row {
  margin-left: auto;
  margin-right: auto;
  max-width: 920px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  //align-items: center;

  &__item {
    width: 25%;
    padding: 5px;
    margin-bottom: 17px;

    .item-imege {
      aspect-ratio: 225/222;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  @include breakpoint(medium down) {
    &__item {
      width: 50%;
    }
  }
  @include breakpoint(small down) {
    &__item {
      width: 100%;
    }
  }
}

.five-in-row {
  //max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  //align-items: center;

  &__item {
    width: 20%;
    padding: 5px;

    .item-imege {
      aspect-ratio: 225/222;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  @include breakpoint(medium down) {
    &__item {
      width: 30%;
    }
  }
  @include breakpoint(small down) {
    &__item {
      width: 100%;
    }
  }
}
