#culture-desktop {
  max-width: 1265px;
  margin-left: auto;
  margin-right: auto;
}

#culture {
  overflow: hidden;
  padding-top: 80px;
  //padding-bottom: 12em;
  .section-text {
    max-width: 833px;
    margin-bottom: 30px;
    //margin-bottom: 80px;
  }
}
