.page-template-template-latest-news {
  .section-title {
    color: $corporate-black;
  }
}

.media-wrap {
  .grid-container {
    max-width: 1200px;
  }
}

#video-filter,
#news-press-filter {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  column-gap: 87px;
  margin: 46px auto 57px;

  li {
    position: relative;
    padding-bottom: 15px;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 2px;
      background-color: $gold;
      transform: translateX(-50%);
      transition: all 0.5s ease-out;
    }

    &:hover {
      &:before {
        width: 100%;
      }
    }

    a {
      font-size: 16px;
      line-height: 32px;
      color: #707070;
    }
  }

  .active {
    &:before {
      width: 100%;
    }
  }
}

#news-press {
  padding-top: 65px;
  padding-bottom: 54px;

  .archive-title {
    text-transform: uppercase;
    font-size: 22px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  #blog-list-archive {
    list-style: none;
  }
}

.blog-list {
  list-style: none;
  margin-left: 0;
}

.feed-post {
  display: flex;
  flex-direction: row;
  padding-bottom: 47px;
  margin-bottom: 27px;
  border-bottom: 1px solid #c0c0c0;

  .post-image {
    width: 30%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .post-content {
    width: 100%;
    max-width: 70%;
    padding-left: 29px;

    h3 {
      font-size: 32px;
      line-height: 38px;
      color: $corporate-black;
    }

    p {
      font-size: 18px;
      line-height: 38px;
    }

    .list-filter-date {
      display: none;
    }
  }
}

.view-all {
  width: 100%;
  max-width: 410px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 33px;
}

#videos {
  background-color: #f0f0f0;
  padding: 87px 0 70px;
  //position: relative;
}

#video-list {
  margin-left: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 40px;

  li {
    width: 100%;
    max-width: 25%;
    padding: 0 15px;

    a.video-wrap {
      margin-bottom: 10px;

      img {
        width: 100%;
        aspect-ratio: 269/151;
        object-fit: cover;
      }
    }

    .video-footer {
      h4 {
        font-size: 18px;
        line-height: 26px;
        //color: #707070;
        font-weight: 400;
      }

      p {
        color: #606060;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 0;
      }
    }
  }
}

#youtube-lightbox.hidden {
  display: none;
}

#youtube-lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($black, 0.7);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;

  .fa-times {
    position: fixed;
    cursor: pointer;
    top: 30px;
    right: 30px;
    color: $white;
    border: 2px solid $white;
    font-size: 30px;
    line-height: 1;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: $gold;
      border-color: $gold;
    }
  }

  .wrapper {
    width: 50vw;

    iframe {
      width: 100%;
      height: auto;
      aspect-ratio: 19/10;
    }
  }
}

body.fixed {
  position: fixed;
  overflow: hidden;
}

.brand-assets-section {
  padding-top: 69px;
  padding-bottom: 83px;
  .grid-container {
    max-width: 1400px;
  }

  .section-text {
    margin-bottom: 50px;
    a {
      margin-left: 5px;
    }
  }

  .logos-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &__item {
      //width: 100%;
      //max-width: 30%;
      width: 30%;
      text-align: center;
      padding: 50px 65px 100px;
      border-right: 1px solid #e4e4e4;

      .logo-title {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 43px;
      }

      .logo {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          //width: 80%;
        }
      }

      &:nth-child(3n) {
        border-right: none;
      }
      &:last-child {
        border-right: none;
      }

      @include breakpoint(medium down) {
        padding-left: 15px;
        padding-right: 15px;
        width: 50%;
        border-right: none;
        margin-bottom: 20px;
        &:nth-child(2n + 1) {
          border-right: 1px solid #e4e4e4;
        }
        &:last-child {
          border: none;
        }
        .logo {
          img {
            width: 80%;
          }
        }
      }
      @include breakpoint(small down) {
        width: 80%;
        border-bottom: 1px solid #e4e4e4;
        border-right: none;
        &:nth-child(2n + 1) {
          border-right: none;
        }

        &:last-child {
          border: none;
        }
        .logo {
          padding: 0;

          img {
            width: 80%;
          }
        }
      }
    }
  }
}

.partnering-section {
  background-color: #f0f0f0;
  padding-top: 82px;
  padding-bottom: 68px;

  .grid-container {
    max-width: 1160px;
  }

  .gform_heading {
    margin-bottom: 64px;

    h2 {
      font-size: 50px;
      text-align: center;
    }
  }

  .gform_fields {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px !important;
  }

  .gfield_label {
    margin-bottom: 0 !important;
    font-size: 40px !important;
    line-height: 1;
    font-weight: 400 !important;
  }

  .gfield {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    text-align: center;

    .ginput_container {
      display: block;
      max-width: fit-content;
      margin-top: 20px;
      position: relative;
      padding-right: 15px;

      &:after {
        content: '.';
        font-size: 40px;
        line-height: 0.8;
        display: inline-block;
        margin-left: 5px !important;
        width: 10px;
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }

    input {
      background-color: transparent;
      box-shadow: none;
      border: none;
      border-bottom: 2px solid $gold;
      text-align: center;

      //font-size: 26px !important;
      font-style: italic;
      color: #606060;
      font-family: $sub-font;

      &::placeholder {
        font-size: 26px;
        font-style: italic;
        color: #606060;
        font-family: $sub-font;
      }
    }
  }

  #field_2_1 {
    width: 100%;

    input {
      width: 450px;
      max-width: 100% !important;
    }
  }

  #field_2_5 {
    input {
      width: 450px;
      max-width: 100%;
    }
  }

  #field_2_7,
  #field_2_3 {
    .ginput_container {
      &:after {
        display: none;
      }
    }
  }

  @include breakpoint(small down) {
    .gfield_label {
      font-size: 32px !important;
      line-height: 1.2;
    }
    .gfield {
      input {
        width: 70vw !important;

        &::placeholder {
          font-size: 18px;
        }
      }
    }
  }
}
