/* ---------------------------------------
	Appear animation
--------------------------------------- */

@include breakpoint(large) {
  [data-scroll] {
    transition: opacity 2s ease-out,
      transform 1s cubic-bezier(0.16, 0.88, 0.45, 1);
  }

  .fade-in,
  .ease-right,
  .ease-left,
  .ease-btm,
  .ease-top {
    opacity: 0;

    &[data-scroll='in'] {
      opacity: 1;
    }
  }

  .fade-in {
    transition-duration: 2s;
  }

  [class*='ease-'] {
    &[data-scroll='in'] {
      transform: none;
    }
  }

  .ease-right {
    transform: translateX(100px);
  }

  .ease-left {
    transform: translateX(-100px);
  }

  .ease-top {
    transform: translateY(-100px);
  }

  .ease-btm {
    transform: translateY(100px);
  }

  [class*='flip-'] {
    &[data-scroll='in'] {
      transform: perspective(400px);
      backface-visibility: visible !important;
    }
  }

  .flip-top {
    transform: perspective(400px) rotateX(-90deg);
    transform-origin: center top;
  }

  .flip-btm {
    transform: perspective(400px) rotateX(90deg);
    transform-origin: center bottom;
  }

  .flip-left {
    transform: perspective(400px) rotateY(90deg);
    transform-origin: left center;
  }

  .flip-right {
    transform: perspective(400px) rotateY(-90deg);
    transform-origin: right center;
  }

  @for $i from 1 through 5 {
    .ease-delay-#{$i}00 {
      transition-delay: #{$i * 300}ms;
    }
  }
}

#culture {
  .words-wrap,
  .image-wrap {
    padding: 1.5rem;
  }

  .image-wrap {
    img {
      width: 100%;
    }
    @include breakpoint(medium down) {
      max-width: 352px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .bottom-first-image-wrap {
    img {
      object-fit: none;
    }
  }

  .word {
    font-size: 3rem;
    font-family: $sub-font;
    //line-height: 100px;
    line-height: 1.2;
    @media (min-width: 1024px) and (max-width: 1200px) {
      font-size: 2.7rem;
    }
    @media (max-width: 400px) {
      font-size: 2.7rem;
    }
  }

  .word.dynamic {
    color: #c88b11;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    padding: 0 3px;

    span {
      opacity: 0.67;

      &:first-child {
        opacity: 1;
      }

      &:last-child {
        opacity: 0.33;
      }
    }
  }

  .words-wrap {
    display: flex;
    flex-direction: row;
    min-height: 250px;
    padding-top: 100px;
    //align-items: center;

    .word {
      white-space: nowrap;
    }

    @include breakpoint(medium down) {
      padding-top: 75px;
      min-height: 100px;
      max-height: 165px;
      position: relative;
      z-index: 0;
    }
  }

  #culture-mobile {
    .words-wrap {
      justify-content: center;
    }
  }
}
