.header {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: $white;
}

.logo {
  position: relative;
  opacity: 1;
  transition: all 0.5s ease-out;
  z-index: 1;

  h1 {
    font-size: 0;
  }

  a {
    display: inline-block;
  }

  img {
    width: 100%;
    max-height: 150px;
  }
  @include breakpoint(small down) {
    img {
      max-width: 85%;
    }
  }
}

.scroll-logo {
  display: none;
  opacity: 0;
  transition: all 0.5s ease-out;
}

.page-template-template-media,
.page-template-template-latest-news,
.page-template-template-contact,
.page-template-default {
  header {
    background-color: transparent;
    transition: all 0.5s ease-out;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .menu-grid-container {
      max-width: 1156px;
    }
  }

  .header-bg {
    background-color: $white;

    .logo {
      display: none;
      opacity: 0;
      @include breakpoint(small down) {
        img {
          max-width: 85%;
        }
      }
    }

    .scroll-logo {
      display: block;
      opacity: 1;
      transition: all 0.5s ease-out;

      h1 {
        font-size: 0;
      }

      a {
        display: inline-block;
      }

      img {
        width: 100%;
        max-height: 150px;
      }

      @include breakpoint(small down) {
        text-align: left !important;
        padding-left: 20px;
        img {
          max-width: 70%;
        }
      }
    }
  }
}

.page-id-49,
.page-template-template-contact {
  .header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }

  .header-bg {
    background: $white;
  }
}

.page-id-258,
.page-id-252,
.page-id-255 {
  margin-top: 120px;
  .header {
    background-color: #202020;
  }
}

body.admin-bar {
  header {
    top: 32px;
  }
  &.page-id-258,
  &.page-id-252,
  &.page-id-255 {
    margin-top: 152px !important;
  }
}

@include breakpoint(medium down) {
  .logo {
    text-align: left;
    padding: 15px 60px 15px 15px;
    position: relative;
    z-index: 1;

    h1 {
      font-size: 0;
    }

    a {
      display: inline-block;
    }

    img {
      max-height: 150px;
    }
  }
  /* TOP BAR Mobile STYLING */

  .menu-grid-container {
    padding-left: 0;
    padding-right: 0;

    .grid-margin-x {
      margin-left: 0;
      margin-right: 0;

      .cell {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
      }
    }
  }

  .title-bar {
    line-height: 45px;
    display: flex;
    justify-content: flex-end;
    position: relative;

    .menu-icon {
      padding: 0;
      border: none;
      background-color: transparent;

      @include menu-icon($gold, $gold, 30px, 24px, 3px);
      position: absolute;
      top: -50px;
      right: 20px;
      z-index: 10;

      &:after {
        display: none;
      }
    }
  }

  .top-bar {
    display: none;
    background-color: rgba(0, 0, 0, 0.85);
    height: 100vh;
  }

  .header-menu {
    background: transparent;

    li {
      > a {
        //background: $primary-color; /* menu item background color */
        color: $white; /* menu item text color */
        line-height: 45px;
        font-size: 22px;
        text-align: center;

        &:focus {
          &,
          & + .submenu-toggle {
            background-color: rgba(0, 0, 0, 0.65);
          }
        }
      }

      &.current-menu-item,
      &.current_page_ancestor,
      &.current_page_parent {
        > a,
        .submenu-toggle {
          //background-color: rgba(0, 0, 0, 0.65);
          color: $gold;
        }
      }

      &[aria-expanded='true'] {
        > a,
        .submenu-toggle {
          color: $gold;
        }
      }
    }

    .submenu-toggle {
      padding: 0;
    }

    .submenu {
      a {
        padding-left: #{get-side($accordionmenu-padding, 'left') * 1.65};
      }

      .submenu {
        a {
          padding-left: #{get-side($accordionmenu-padding, 'left') * 2.3};
        }
      }
    }
  }
}

@include breakpoint(large) {
  header {
    padding: 24px;
  }
  /* TOP BAR STYLING */

  .header-menu.menu {
    /* Align menu items to the right */
    justify-content: flex-end;

    /* Align menu items to the center */
    // justify-content: center;

    li {
      > a {
        /* Regular menu item style */
        color: #707070;
        position: relative;
        text-transform: uppercase;
        font-family: $avenir-35-light;

        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0;
          height: 2px;
          background-color: $gold;
          transform: translateX(-50%);
          transition: all 0.5s ease-out;
        }

        &:hover {
          /* menu item style on hover */
          &:before {
            width: 90%;
          }
        }
      }

      &.current-menu-item,
      &.current_page_ancestor,
      &.current_page_parent {
        > a {
          /* Style of Current page and Ancestor page */
          //color: $white;
          &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 90%;
            height: 2px;
            background-color: $gold;
            transform: translateX(-50%);
            transition: all 0.5s ease-out;
          }
        }
      }

      &.has-dropdown {
        > a {
          /* Style of item with dropdown */
        }
      }

      &.is-active > a {
        /* Parent link style on dropdown hover */
        background: $white;
      }
    }

    /* Dropdown item styling */

    .submenu {
      z-index: 11;
      display: none;

      &.js-dropdown-active {
        display: block;
      }

      li {
        > a {
          /* Regular link in dropdown */
          background: $white;
          line-height: 30px;

          &:hover {
            /* Dropdown link on hover */
            color: $white;
          }
        }

        &.current-menu-item,
        &.current_page_ancestor,
        &.current_page_parent {
          > a {
            color: $white;
          }
        }
      }

      .submenu {
        /* Styles for 2nd level dropdown menu */
      }
    }
  }
  .page-template-template-media,
  .page-template-template-latest-news,
  .page-template-template-contact,
  .page-template-default {
    .header-menu.menu {
      /* Align menu items to the right */
      justify-content: flex-end;

      /* Align menu items to the center */
      // justify-content: center;

      li {
        > a {
          /* Regular menu item style */
          color: #b8ac95;
          position: relative;

          &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 2px;
            background-color: $gold;
            transform: translateX(-50%);
            transition: all 0.5s ease-out;
          }

          &:hover {
            /* menu item style on hover */
            &:before {
              width: 90%;
            }
          }
        }

        &.current-menu-item,
        &.current_page_ancestor,
        &.current_page_parent {
          > a {
            /* Style of Current page and Ancestor page */
            //color: $white;

            &:before {
              content: '';
              position: absolute;
              bottom: 0;
              left: 50%;
              width: 90%;
              height: 2px;
              background-color: $gold;
              transform: translateX(-50%);
              transition: all 0.5s ease-out;
            }
          }
        }
      }
    }
  }

  .header-bg {
    .header-menu.menu {
      li > a {
        color: #707070;
      }
    }
  }
}

@include breakpoint(1100px) {
  header {
    padding: 24px 72px 24px 37px;
  }
}
